
.wrapper {
    width:70vw;
}

.main {
    background-color: white;
    border-radius: 10px;
}

.balance {
    width: 100%;
    background-color:white;
    border-radius: 10px;
}

.balance table {
    font-size:20px;
}

.balance table tr:last-child{
    font-weight: 800;
}

.filter {
    width: 100%;
    background-color: white;
    border-radius: 10px;  
}

.balance h3 {
    font-size:35px;
}

.margin-top {
    margin-top: 7rem;
}

.img {
    width: 80%;
}

label {
    margin-top: 10px;
}

select, input {
    width:100%;
    padding:8px;
}

@media (max-width: 992px) {
    .container-fluid {
        width:100vw;
    }

    .main {
        margin-top: 1rem;
    }

}
